.brand,.list_item{
    color: black;
}
.list_item:hover {
    color: purple;
}

.btn {
    background: blue;
    border: purple;
    border-radius: 2px;
}

#btn1 {
    background: purple;
}
#btn2 {
    background: none;
    color: purple;
    border: 2px solid purple;
    margin: auto;
    margin-inline: 3px;
}

button.Navbar-toggler.collapsed {
    background: #fff !important;
}

button.Navbar-toggler{
    background: #fff !important;
}